@page
@model TasksWeb.Pages.IndexModel
@{
	ViewData["Title"] = "Home page";
}

<h2>Welcome</h2>

<p>Please <a href="/Account/Login">login</a> or <a href="/Account/Register">register</a> to continue.</p>
